/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#img-banner {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: relative;
}

.watch-more {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 50px;
  position: absolute;
  color: black;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  border: 1px;
  cursor: pointer;
}

.watch-more:hover {
  color: white;
  background-color: #fa4d09;
}
.btn-previous {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  left: 20%;
  font-size: 20px;
  position: absolute;
  color: white;
}
.btn-previous:hover {
  background-color: aqua;
}
.btn-next:hover {
  background-color: aqua;
}
.btn-next {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  right: 2%;
  font-size: 20px;
  position: absolute;
  color: white;
}
