/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#img-banner {
  transition: all 1s ease-in-out;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: relative;
}
.nav-bar {
  width: 100%;
  height: 70px;
  /* background: #000; */
  top: 0%;
  left: 40%;
  position: fixed;
  z-index: 1;
  display: flex;
}

#menu {
  gap: 30px;
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  position: absolute;
  top: 150px;
  left: -500%;
  transition: all 1s ease-in-out;
}

#menu.active {
  padding: 30px;
  background-color: #f7f7f7;
  top: 50;
  left: -40%;
}
#menu li a:hover {
  color: red;
  cursor: pointer;
}
#menu li a {
  text-decoration: none;
  color: black;
}

.bar-icon {
  cursor: pointer;
  position: absolute;
  left: -30%;
  top: 30%;
  font-size: 30px;
}
.watch-more {
  top: 50%;
  left: 40%;
  width: 120px;
  height: 50px;
  position: absolute;
  color: black;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  border: 1px;
  cursor: pointer;
}

.watch-more:hover {
  color: white;
  background-color: #fa4d09;
}
.btn-previous {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  left: 0%;
  font-size: 20px;
  position: absolute;
  color: white;
}
.btn-previous:hover {
  background-color: aqua;
}
.btn-next:hover {
  background-color: aqua;
}
.btn-next {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  right: 0%;
  font-size: 20px;
  position: absolute;
  color: white;
}
.container-avahome {
  padding-top: 100px;
  height: 450px;
}
.knowledge-avahome {
  padding: 30px 20px 60px;
  font-size: 50px;
  line-height: 60px;
}
.content-avahome {
  padding: 0 20px;
  font-size: 18px;
  line-height: 40px;
}
.watch-more2 {
  width: 100px;
  height: 40px;
  color: black;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  margin: 20px 30px;
}
.watch-more2:hover {
  color: white;
  background-color: #fa4d09;
}
.banner-avahome {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.banner-avahome img {
  width: 100%;
  height: 500px;
}

.img-child1 {
  position: relative;
}

.modern-vila {
  top: 1510px;
  position: relative;
  width: 100%;
  height: 300px;
}
.modern-vila h1 {
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 120px;
}
.col-mordern-vila {
  margin: 0 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.col-mordern-vila img {
  width: 100%;
  height: 200px;
}

.col-mordern-vila img:hover {
  /* object-fit: scale-down; */
  width: 100%;
  transform: scale(0.9);
  transition: all 1s ease-in-out;
}
.content-banner-avahome1 {
  position: absolute;
  top: 40%;
  left: 20%;
  /* transform: translate(40, 50); */
}
.content-banner-avahome1 h1 {
  font-size: 50px;
}
.content-banner-avahome1 p {
  margin: 20px 20px 0px 0px;
  font-size: 28px;
}
.content-banner-avahome2 {
  position: absolute;
  top: 40%;
  left: 20%;
  /* transform: translate(40, 50); */
}
.content-banner-avahome2 h1 {
  font-size: 50px;
}
.content-banner-avahome2 p {
  margin: 20px 20px 0px 0px;
  font-size: 28px;
}
.content-banner-avahome3 {
  position: absolute;
  top: 40%;
  left: 20%;
  /* transform: translate(40, 50); */
}
.content-banner-avahome3 h1 {
  font-size: 50px;
}

.content-banner-avahome3 p {
  margin: 20px 20px 0px 0px;
  font-size: 28px;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .nav-bar {
    left: 1%;
    gap: 50px;
  }
  .navbar-active {
    background-color: #fff;
    opacity: 90%;
  }
  #menu {
    flex-direction: row;
    position: sticky;
    flex-direction: row;
    gap: 16px;
    display: flex;
  }
  .img-logo {
    width: 100px;
  }
  .content-banner-avahome1 {
    left: 40%;
    color: white;
  }
  .content-banner-avahome2 {
    left: 40%;
    color: white;
  }
  .content-banner-avahome3 {
    left: 40%;
    color: white;
  }
  #menu li {
    line-height: 30px;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  #menu li {
    line-height: 100px;
    font-family: "Raleway", sans-serif;
    color: white;
  }
  .col-mordern-vila img {
    width: 100%;
    height: 250px;
  }
}
/* pc */
@media screen and (min-width: 1025px) {
  .navbar-active {
    background-color: #fff;
    opacity: 90%;
  }
  .about-avahome {
    padding: 50px 450px 80px;
  }
  .watch-more2 {
    margin-top: 50px;
    width: 120px;
    height: 50px;
  }
  .content-avahome {
    font-size: 20px;
  }
  .watch-more {
    /* padding-top: 100px; */
    left: 50%;
  }
  #bar {
    display: none;
  }
  .nav-bar {
    left: 0;
    padding-left: 300px;
    gap: 60px;
  }
  #menu {
    flex-direction: row;
    position: sticky;
    gap: 50px;
    display: flex;
  }
  #menu li {
    font-style: 0.8em;
    text-transform: uppercase;
  }

  #menu li {
    z-index: 1;
    line-height: 80px;
    font-family: "Raleway", sans-serif;
  }
  .active-li a {
    color: black;
  }

  .banner-avahome {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .modern-vila {
    top: 700px;
  }
  .content-banner-avahome1 {
    left: 35%;
  }
  .content-banner-avahome2 {
    left: 35%;
  }
  .content-banner-avahome3 {
    left: 35%;
  }
  .col-mordern-vila {
    margin: 0px;
    width: 100%;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col-mordern-vila img {
    height: 434px;
  }
}
