/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#img-banner {
  transition: all 1s ease-in-out;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: relative;
}
.nav-bar {
  width: 100%;
  height: 70px;
  /* background: #000; */
  top: 0%;
  left: 40%;
  position: fixed;
  z-index: 1;
  display: flex;
}

#menu {
  gap: 30px;
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  position: absolute;
  top: 150px;
  left: -500%;
  transition: all 1s ease-in-out;
}

#menu.active {
  padding: 30px;
  background-color: #f7f7f7;
  top: 50;
  left: -40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#menu > li a:hover {
  color: red;
  cursor: pointer;
}
#menu > li a {
  text-decoration: none;
  color: black;
}

.bar-icon {
  cursor: pointer;
  position: absolute;
  left: -30%;
  top: 30%;
  font-size: 30px;
}
.watch-more {
  top: 50%;
  left: 40%;
  width: 120px;
  height: 50px;
  position: absolute;
  color: black;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  border: 1px;
  cursor: pointer;
}
.watch-more:hover {
  color: white;
  background-color: #fa4d09;
}
.btn-previous {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  left: 0%;
  font-size: 20px;
  position: absolute;
  color: white;
}
.btn-previous:hover,
.btn-next:hover {
  background-color: aqua;
}

.btn-next {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  right: 0%;
  font-size: 20px;
  position: absolute;
  color: white;
}

.about-avahome {
  padding: 100px 0px 150px;
}
.knowledge-avahome {
  padding: 30px 20px 60px;
  font-size: 50px;
  line-height: 60px;
}
.content-avahome {
  padding: 0 20px;
  font-size: 18px;
  line-height: 40px;
}
.watch-more2 {
  width: 100px;
  height: 40px;
  color: black;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  margin: 20px 30px;
}
.watch-more2:hover {
  color: white;
  background-color: #fa4d09;
}
.banner-avahome {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.banner-avahome img {
  cursor: pointer;
  width: 100%;
  height: 500px;
}

.architect {
  width: 100%;
  height: 300px;
}
.interior {
  width: 100%;
  height: 300px;
}
.title-mordenr-vila,
.title-architect,
.title-interior {
  text-align: center;
  font-size: 45px;
  line-height: 60px;
  margin: 70px 0px;
}

.col-mordern-vila {
  margin: 0 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.col-mordern-vila img {
  width: 100%;
  height: 200px;
}

.content-banner-avahome1,
.content-banner-avahome2,
.content-banner-avahome3 {
  position: absolute;
  top: 40%;
  left: 20%;
  /* transform: translate(40, 50); */
}
.content-banner-avahome1 h1,
.content-banner-avahome2 h1,
.content-banner-avahome3 h1 {
  font-size: 40px;
}
.content-banner-avahome1 p,
.content-banner-avahome2 p,
.content-banner-avahome3 p {
  margin: 20px 20px 0px 0px;
  font-size: 28px;
}

.title-child-mordenr-vila1,
.title-child-mordenr-vila2,
.title-child-mordenr-vila3,
.title-child-mordenr-vila4,
.title-child-mordenr-vila5 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 50%;
  left: 10%;
}
.title-child-mordenr-vila6,
.title-child-mordenr-vila7,
.title-child-mordenr-vila8,
.title-child-mordenr-vila9,
.title-child-mordenr-vila10 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 50%;
  left: 10%;
}
.title-child-mordenr-vila11,
.title-child-mordenr-vila12,
.title-child-mordenr-vila13,
.title-child-mordenr-vila14,
.title-child-mordenr-vila15 {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 50%;
  left: 10%;
}

.title-child-mordenr-vila h2 {
  line-height: 31px;
  font-size: 30px;
}
.col-mordern-vila > div {
  position: relative;
}
.title-child-mordenr-vila p {
  padding-top: 10px;
  font-size: 20px;
}
.bthd1:hover .title-child-mordenr-vila1,
.btht2:hover .title-child-mordenr-vila2,
.btht3:hover .title-child-mordenr-vila3,
.btht4:hover .title-child-mordenr-vila4,
.btht5:hover .title-child-mordenr-vila5 {
  display: block;
  top: 20%;
}

.btht6:hover .title-child-mordenr-vila6,
.btht7:hover .title-child-mordenr-vila7,
.btht8:hover .title-child-mordenr-vila8,
.btht9:hover .title-child-mordenr-vila9,
.btht10:hover .title-child-mordenr-vila10 {
  display: block;
  top: 20%;
}
.btht11:hover .title-child-mordenr-vila11,
.btht12:hover .title-child-mordenr-vila12,
.btht13:hover .title-child-mordenr-vila13,
.btht14:hover .title-child-mordenr-vila14,
.btht15:hover .title-child-mordenr-vila15 {
  display: block;
  top: 20%;
}

.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 0px;
}
.user img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.banner-price-list {
  background-image: url("bannerprice.jpg");
}
.design-price-list,
.working-process {
  position: relative;
  margin: 50px 0px;
}
.design-price-list img,
.working-process img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.design-price-list > h1,
.working-process > h1 {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: scale(50 50);
}

.table-list-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0 20px;
  gap: 20px;
}
.table-list {
  border: 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 650px;
}
.table-list button {
  border: none;
  border-radius: 1%;
  height: 40px;
  width: 150px;
  color: white;
  background: #fa4d09;
}
.table-list .price {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.btn-choose:hover {
  background-color: black;
}

.footer {
  margin-top: 50px;
  padding: 0 10px;
  color: white;
  background-color: #302c2c;
  /* width: 100%; */
  height: 750px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .about {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-icons {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.contact {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact h1 {
  font-size: 30px;
  font-weight: bold;
}
.service {
  padding: 30px 0px;
}
.service ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.service h1 {
  font-size: 30px;
  font-weight: bold;
}

.popoluar-project h1 {
  font-weight: bold;
  font-size: 30px;
}
.img-popular-project {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}
.img-popular-project img {
  width: 100px;
  object-fit: cover;
}

.nav-menu {
  display: none;
}
.nav-menu > li:hover {
  cursor: pointer;
  color: red;
}
#menu > li a:hover {
  color: red;
  cursor: pointer;
}
.projects:hover .nav-menu {
  padding-top: 13px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  font-size: 17px;
}

/* tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  .nav-bar {
    left: 1%;
    gap: 50px;
  }
  .navbar-active {
    background-color: #fff;
    opacity: 90%;
  }
  #menu {
    flex-direction: row;
    position: sticky;
    flex-direction: row;
    gap: 16px;
    display: flex;
    top: 20px;
  }
  .img-logo {
    width: 100px;
  }
  .content-banner-avahome1 {
    left: 40%;
    color: white;
  }
  .content-banner-avahome2 {
    left: 40%;
    color: white;
  }
  .content-banner-avahome3 {
    left: 40%;
    color: white;
  }
  .nav-menu {
    position: absolute;
    background-color: #fff;
    color: black;
    height: 150px;
    padding-left: 10px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .nav-menu li {
    height: 20px;
  }

  #menu > li {
    line-height: 50px;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  #menu > li {
    line-height: 100px;
    font-family: "Raleway", sans-serif;
    color: white;
  }
  .col-mordern-vila img {
    width: 100%;
    height: 250px;
  }
  .col-mordern-vila h2 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 10px;
  }
  .col-mordern-vila p {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 10px;
  }

  .user {
    margin: 70px 0px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .user img {
    height: 140px;
    object-fit: fill;
  }

  .design-price-list h1 {
    top: 45%;
    left: 30%;
  }

  .working-process h1 {
    top: 45%;
    left: 20%;
  }
  .table-list-container {
    display: flex;
  }

  .footer {
    padding: 20px 50px;
    height: 800px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .img-popular-project {
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-popular-project img {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
}

/* pc */
@media screen and (min-width: 1025px) {
  .navbar-active {
    background-color: #fff;
    opacity: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .about-avahome {
    padding: 50px 450px 80px;
  }
  .watch-more2 {
    margin-top: 50px;
    width: 120px;
    height: 50px;
  }
  .content-avahome {
    font-size: 20px;
  }
  .watch-more {
    /* padding-top: 100px; */
    left: 50%;
  }
  #bar {
    display: none;
  }
  .nav-bar {
    left: 0;
    padding-left: 300px;
    gap: 60px;
  }
  #menu {
    flex-direction: row;
    position: sticky;
    gap: 50px;
    display: flex;
  }
  .nav-menu {
    position: absolute;
    background-color: #fff;
    height: 150px;
    padding-left: 10px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .nav-menu li {
    height: 20px;
  }
  #menu > li {
    font-style: 0.8em;
    text-transform: uppercase;
  }

  #menu > li {
    z-index: 1;
    line-height: 80px;
    font-family: "Raleway", sans-serif;
  }
  .active-li a {
    color: black;
  }

  .banner-avahome {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-banner-avahome1,
  .content-banner-avahome2,
  .content-banner-avahome3 {
    left: 31%;
  }

  .col-mordern-vila {
    margin: 0 250px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col-mordern-vila img {
    object-fit: cover;
    height: 332px;
    width: 335px;
  }

  .col-mordern-vila h2 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  .col-mordern-vila p {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 10px;
  }

  .user {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .user img {
    height: 400px;
  }
  .design-price-list {
    display: flex;
  }
  .design-price-list h1 {
    top: 40%;
    left: 40%;
  }

  .working-process h1 {
    top: 40%;
    left: 40%;
  }

  .table-list-container {
    margin: 150px 250px;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer {
    padding: 30px 230px;
    height: 450px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .img-popular-project {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
